<div class='row'>
  <div class='col-md-8'>
    <%= render @projects %>
  </div>

  <div class='col-md-4 hidden-xs hidden-sm'>
    <span><%= t('.filter_by_language') %></span>

    <%= form_tag(project_search_path, method: :get, enforce_utf8: false) do %>
      <%= hidden_field_tag :q, params[:q] %>
      <ul>
        <% @projects.map(&:main_language).compact.uniq.each_with_index do |language, index| %>
          <li>
            <%= check_box_tag 'main_language[]', language, params.fetch(:main_language, []).include?(language) , id: "main_language_#{index}" %>
            <%= label_tag "main_language_#{index}", language %>
          </li>
        <% end %>
      </ul>

      <%= submit_tag t('.submit'), name: nil, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
