<h3>
  <span class='btn btn-info'><%= project.score.round %></span>
  <%= link_to project.name_with_owner, project.github_url %>
  <% if project.main_language.present? %>
    <small><%= project.main_language %></small>
  <% end %>
</h3>

<% if project.description.present? %>
  <p>
    <%= truncate project.description, :length => 200 %>
    <% if project.homepage.present? %>
     <%= link_to project.homepage, project.homepage %>
    <% end %>
  </p>
<% end %>
