<div class='row'>
  <div class='col-md-8'>
    <%= render @project %>
    <p>
      <strong>
        <% if @project.last_scored.present? %>
          <%= t('.score_last_calculated') %>
          <%= t('.time_ago', time: time_ago_in_words(@project.last_scored)) %>
        <% else %>
          <%= t('.not_calculated', project: @project.name) %>
        <% end %>
      </strong>
    </p>

    <% if @issues.any? %>
      <hr>
      <section role="issues">
        <h3><%= t('.open_issues') %></h3>
        <%= render @issues %>
      </section>
    <% end %>
  </div>
  <div class='col-md-4'>
    <table class='table table-striped'>
      <% @project.summary.each do |key, value| %>
        <tr>
          <td>
            <%= key.to_s.humanize %>:
          </td>
          <td>
            <strong><%= value %></strong>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
