<h1>
  <%= @project.name_with_owner %>
</h1>

<p>
  Score: <%= @project.score %>
</p>

<% if @project.description.present? %>
<p>
  <%= truncate @project.description, :length => 200 %>
</p>
<% end %>
<% if @project.main_language.present? %>
<p>
  <%= @project.main_language %>
</p>
<% end %>
<% if @project.fork %>
<p>
  fork
</p>
<% end %>
<% if @project.homepage.present? %>
<p>
  <%= link_to @project.homepage, @project.homepage %>
</p>
<% end %>
