<div class='row'>
  <div class='col-md-8'>
    <%= render @project %>
    <p>
      Score last calculated:
      <strong>
        <% if @project.last_scored.present? %>
          <%= time_ago_in_words(@project.last_scored) %> ago
        <% else %>
          Never
        <% end %>
      </strong>
    </p>

    <% if @issues.any? %>
      <hr>
      <section role="issues">
        <h3>Open Issues</h3>
        <%= render @issues %>
      </section>
    <% end %>
  </div>
  <div class='col-md-4'>
    <table class='table table-striped'>
      <% @project.summary.each do |key, value| %>
        <tr>
          <td>
            <%= key.to_s.humanize %>:
          </td>
          <td>
            <strong><%= value %></strong>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
