<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= t('.tab_title') %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a class="forkme" href="https://github.com/andrew/contribulator">
      <img alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"/>
    </a>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t('.header_title'), root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag projects_path, class: 'navbar-form' do |f| %>
                <%= text_field_tag 'project[github_url]', '', placeholder: t('.search_placeholder'), class: 'form-control' %>
                <%= submit_tag t('.search'), class: 'btn btn-default' %>
              <% end %>
            </li>
            <% if logged_in? %>
              <li><%= link_to current_user, current_user %></li>
              <li><%= link_to t('.log_out'), logout_path %></li>
            <% else %>
              <li><%= link_to t('.log_in'), login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container notices">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible"><%= value %></div>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <div class='row'>
          <%= t('.project_count', count: Project.count) %>
        </div>
      </div>
    </footer>
  </body>
</html>
